$olive: rgb(150, 201, 61);
$whitish: #ecf0f1;
$grey: #4d4d4d;

$background: linear-gradient(to right bottom, rgba(135, 211, 124, .3), rgba(150, 201, 61, .3));
/* gradient from https://uigradients.com/#Ohhappiness */
