footer {
    text-align: left;
    font-size: 1.6rem;
    text-shadow: 0px 1px 1px $grey;

    .row {
        display: block;
        margin-left: .5rem;
    }

    & .author {
        background-image: $background;
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 700;
        text-shadow: none;

        & a:hover {
            transition: all .5s;
        }
    }
}